@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body,
html {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

body {
	background: #fcfcfc;
}

p {}

input:focus {
	outline: 0;
}

.chart-div{
	text-align: center;
}

.forms{
	display: flex;
	margin: 0 auto;
	max-width: 930px;
	justify-content: space-between;
}

.form{
	display: flex;
}

.label{
	line-height: 30px;
	vertical-align:middle;
	margin-right: 5px
}

#background {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 400px;
	background: linear-gradient(#d19c7d, #f9cf92);
}

.graph {
	position: relative;
	padding-top: 5em;
	text-align: center;
	transition: all .3s ease-out;
}

h1 {
	text-align: center;
	margin: 20px auto;
	margin-bottom: 50px;
	padding: 0px 10px;
	font-weight: normal;
}

h2 {
	margin: 0 auto;
	width: 700px;
	height: 30px;
	padding: 0px 15px;
	padding-top: 25px;
	background: white;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	border: 1px solid #e9e7f1;
	border-bottom: 0;
	color: #737373;
}

svg {
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	background-color: white;
	padding: 10px 20px 20px 10px;
	margin: 0;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #e9e7f1;
	border-top: 0;
}

.y-grid line {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}

.y-grid path {
	stroke-width: 0;
}

#tooltip {
	position: absolute;
	text-align: center;
	background: black;
	color: white;
	border-radius: 3px;
	padding: 10px 5px;
	pointer-events: none;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	font-size: 10pt;
}

#nameField {
	border: 1px solid gray;
	text-indent: 5pt;
	height: 30px;
	font-family: 'Quicksand', sans-serif;
	width: 100%;
	margin: 0;
}

#search {
	height: 34px;
}

#search:hover{
	cursor: pointer;
}

#filter{
	width: 120px;
}

#tags{
	display: flex;
	align-items: start;
	max-width: 900px;
	margin: 20px auto;
	height: 30px;
}

.tag{
	font-family: 'Quicksand', sans-serif;
	background: gray;
	padding: 4px 15px 5px 15px;
	border-radius: 15px;
	margin-right: 10px;
	pointer-events: none;
	font-weight: bold;
	letter-spacing: 2px;
}

.tag a{
	text-decoration: none;
	padding: 2px 5px 2px 7px;
	font-size: 11pt;
	font-weight: bolder;
	margin-left: -10px;
	margin-top: -30px;
	pointer-events: visible;
	color: rgba(246,246,246, .5);
}

.tag a:hover{
	border-radius: 20px;
	background: rgba(246,246,246, .5);
}

[class="tag #1f77b4"]{
	background: #1f77b4;
	color: #f6f6f6;
}

[class="tag #ff7f0e"]{
	background: #ff7f0e;
	
}

[class="tag #2ca02c"]{
	background: #2ca02c;
	color: #f6f6f6;
}

[class="tag #d62728"]{
	background: #d62728;
}

[class="tag #9467bd"]{
	background: #9467bd;
}